
		<div class="opsportal-widget-title-container opsportal-widget-container-divider">
			<h3 class="opsportal-widget-title" translate=1><%= title %></h2>
		</div>			
		<div class="opsportal-widget-meta">
		  <% if (description) { %>
		  <p class="opsportal-widget-meta-desc" translate=1><%== description %></p></div>
		  <% } %>
		<div class="btn-group opsportal-btn-full">
		  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
		    <span class="gmalist-selected-label" translate=1><%= title %></span>
		    <span class="caret opsportal-btn-caret"></span>
		  </button>
		  <ul class="gmalist-list dropdown-menu" role="menu">
		  </ul>
		</div>
