/*

  This is the custom CSS for the Movement Matrix.
  CSS from other sources like Bootstrap and jQuery-UI also apply but
  this should take precedence.

*/

#dummy-loading-indicator {
    position: absolute;
    top: 200px;
    left: 45%;
    display: block;
    border-radius: 11px;
    background-color: #333;
    padding: 1em;
}


.gmamatrix h1, .gmamatrix-header {
    color: #1487D4;
    font-family: Myriad Pro,"Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif;
    line-height: 120%;
    margin: 25px 0 20px;
    text-shadow: 1px 1px 1px #555555;
    font-weight: bold;
    font-size: 32px;
}


.gmamatrix table {
    border-collapse: collapse;
    border: none;
}
.gmamatrix table th {
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
}
.gmamatrix table thead th {
    padding: .5em 1em;
    vertical-align: top;
}
.gmamatrix table tbody th {
    vertical-align: middle;
}
.gmamatrix table td {
    padding: 1em;
    border: none;
}
td#col-questions {
    vertical-align: top;
}
td#col-questions .content {

}
td#col-questions .filler {
    height: 30em;
}
.gmamatrix .subtitle {
    font-size: .7em;
    font-weight: normal;
    display: block;
    padding: 0;
}

.gmamatrix .navbar h1 {
    margin: 0;
    text-shadow: 1px 1px 2px #555555;
}
.gmamatrix .navbar .reset {
    float: right;
    padding: 5px;
    margin: 5px 1em;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    display: none;
 
    
}
.gmamatrix .navbar-fixed-top {
    min-height:32px;
    margin-bottom: 0px;
}
.gmamatrix .navbar-fixed-bottom .navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.gmamatrix .navbar-fixed-top,.gmamatrix .navbar-fixed-bottom {

    position: relative;
}

.question-bubble {
    padding: 0 0 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.question-bubble h3 {
    text-align: center;
    font-size: 1.1em;
    box-shadow: none;
    text-shadow: none;
    border-radius: 4px 4px 0 0;
    line-height: 200%;
    margin: 0 0 1em;
}
.question-bubble .question {
    padding: .2em .8em;
}
.question-bubble .question p {
    text-align: center;
    padding-bottom: .5em;
    margin: 0;
}
.question-bubble fieldset {
    width: 90%;
    margin: 0 auto .5em;
    text-align: center;
}
.question-bubble input {
    cursor: text;
}
.question-bubble fieldset button {
    margin-left: .3em;
}
.definition {
    padding: 1em;
    display: none;
}

.bubble-container {
}
#col-questions .bubble-container {
    position: fixed;
    width: 21%;
}
#col-questions .definition {
    display: block;
    margin-top: -2em;
}
#col-questions .definition h3 {
    margin: 1em 0 .5em;
}
#col-questions .definition dd,
.popover-content dd {
    margin-bottom: .5em;
}
#col-questions .submitting {
    display: none;
    text-align: center;
    padding: 3em;
    position: fixed;
    font-size: 1.2em;
}
#col-questions .submit {
    text-align: center;
    padding: 3em;
    position: fixed;
    font-size: 1.2em;
}

#prayer-faith .question-bubble {
    display: none;
}
#outcome-results {
    display: none;
}
#outcome-results > div {
    margin-bottom: 2em;
}
#outcome-results h4 {
    color: #ff9900;
}
#outcome-results h3 {
    display: none;
}

#extra-extra .bubble-container {
    position: static;
    width: 25em;
    margin: .5em;
    float: left;
}

.popover h1,
.popover h2,
.popover h3,
.popover h4 {
    margin: 0;
}

div.loading {
    float: right;
    display: none;
}


.gmamatrix-object-widget {
    left: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 0;
    position: relative;
    background-color: #F7F7F7;
    top: 0;
}


.gmamatrix-stage {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    margin: 0;
    overflow-y: auto;
    padding: 0;
/*    position: absolute; */
    right: 0;
    top: 0;
/*    width: 100%; */
}

.gmamatrix-stage .navbar-inner .row {
    margin-left: 0px;
    margin-right: 0px;
}