.gmamatrix-cat-container { margin-right: 15px !important; background: #f0f0f0; padding: 15px; }
.gmamatrix-cat-container .measurements div { 
	font-size: .9em; border: 1px solid #c0c0c0; padding: 5px; text-align: center; margin: 0.75em 0; 
	opacity:.75;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out;
}
.gmamatrix-cat-container .cat-unassigned { background: #444444; color: #fff; }
.gmamatrix-cat-container .cat-unassigned:hover { opacity: 1; }

.gmamatrix-cat-container .cat-assigned { color: #000; background: transparent; }
.gmamatrix-cat-container .cat-assigned:hover { color: #fff; background: #444444; }


.gmamatrix-draggable { 
    cursor: move;
}
.gmamatrix-draggable:hover {  }
.gmamatrix-staff:hover, .gmamatrix-disciple:hover { background-color: rgb(220,220,220); font-weight: bold; }

.gmamatrix-droppable-lmi .measurements, .gmamatrix-droppable-lmi .measurements-disciple {
    min-height: 3em;
    padding-top: 0;
}
.gmamatrix-droppable-lmi h5 { margin-top: 0; margin-bottom: 0; }
.gmamatrix-droppable-lmi > div h6 {
    margin: 0 0 1em;
    background: #c0c0c0;
    color: white;
    display: block;
    padding: .5em;
    font-weight: normal;
    text-align: center;
    font-size: .8em;
}
.gmamatrix-container .gmamatrix-draggable {
    margin: .5em;
    border: solid 1px #c0c0c0;
    padding: 5px;
    text-align: center;
}
#gmamatrix-layout > .gmamatrix-draggable {
/* helper element being dragged */
    border: solid 1px #c0c0c0;
    padding: 5px;
    text-align: center;
    max-width: 10em;
}



.gmamatrix-container-grid { position: relative; border: 1px solid #f0f0f0; padding: 0.75em; }
.gmamatrix-container-grid h4, .gmamatrix-other h4 { text-transform: uppercase; font-weight: bold; font-size: 16px; text-align: left; }
.gmamatrix-grid-bb h4 { text-align: center; }
.gmamatrix-container-grid .opsportal-showhide {  }


.gmamatrix-grid { background: #fff; }
.gmamatrix-container-grid .gmamatrix-grid-bb { border-bottom: 1px solid #e3e3e3; padding-bottom: 0.75em; }
.gmamatrix-container-grid .gmamatrix-grid-br { border-right: 1px solid #e3e3e3; padding-right: 0.75em; }
.gmamatrix-container-grid .gmamatrix-grid-bl { border-left: 1px solid #e3e3e3; padding-left: 0.75em; }
.gmamatrix-container { position: relative; background: #f0f0f0; border: 1px solid #e3e3e3; text-align: left; margin: 0.75em 0; /*min-height: 45px;*/ padding: 0;}
.gmamatrix-container .row { /*display: table;*/ margin: 0; clear: both !important; }
.gmamatrix-container h5 { padding: 15px 5px; text-align: center; font-weight: bold; border-bottom: 1px solid #e3e3e3; }
.gmamatrix-container ul { display: block; margin: 0 5px auto; position: relative; min-height: 3em; }
.gmamatrix-container ul:after { clear: both; }
.gmamatrix-container ul.gmamatrix-li-staff { display: block; position: relative; float: left !important; width: 50%; border-right: 1px solid #e3e3e3; margin: 0; }
.gmamatrix-container ul.gmamatrix-li-disciple { display: block; position: relative; float: right !important; width: 50%; border-left: 1px solid #e3e3e3; margin: 0; }
.gmamatrix-container ul li { list-style: none; margin: 5px auto; padding: 5px; display: block; border: 1px solid #c0c0c0; text-align: center; width: 90%; background: transparent; color: #000;}
.gmamatrix-container.gmamatrix-dashboard-container .row { padding: 5px; }
.gmamatrix-staff, .gmamatrix-disciple { border-top: 1px solid #e3e3e3; text-align: center; padding: 15px; font-weight: normal; position: relative; overflow: visible !important; margin-top: 14px; }
/*.gmamatrix-container .row .gmamatrix-droppable { float: none; display: table-cell; vertical-align: middle; }*/
.gmamatrix-staff { border-right: 1px solid #e3e3e3; }
.gmamatrix-lmi-selected { background-color: rgb(220,220,220); font-weight: bold; }
.gmamatrix-lmi-selected a { opacity: 1 !important; }
.gmamatrix-other { border: 1px solid #c0c0c0; min-height: 150px; background: #f0f0f0; margin: 1.5em 0; }
.gmamatrix-other:hover { background-color: rgb(220,220,220); }
.gmamatrix-other .gmamatrix-li-other li, 
.gmamatrix-other .gmamatrix-draggable { 
	float: left; 
	position: relative; 
	display: block; 
	margin: 15px; 
	list-style: none; 
	padding: 5px; 
	display: block; 
	border: 1px solid #c0c0c0; 
	text-align: center; 
	background: transparent; 
	color: #000; 
	width: 150px;
}

.gmamatrix-container-hover { background-color: rgb(220,220,220); }

.gmamatrix-dashboard-container { font-weight: bold !important; }
/* .gmamatrix-dashboard-container .progress { min-width: 200px !important; } 
.gmamatrix-dashboard-container .gma-progress-content .progress-bar.gma-progress-bar { background-color: #ff0000 !important; } */
.gmamatrix-dashboard-container .progress { max-width: 125px !important; }
.gmamatrix-dashboard-container span.gma-dashboard-label { margin-top: 3px; float: left; font-weight: bold; min-width: 65px; }
.gma-highlight { color: #4381B8; }

#gmamatrix-affix { /*position: relative;*/ padding: 0 0 15px; }
#gmamatrix-affix h4 { border-bottom: 1px solid #e3e3e3; padding: 15px; text-align: center; font-size: 14px; text-transform: uppercase; width: 100%; line-height: 14px; margin: 0; }
#gmamatrix-affix .measurements div { margin: 15px; }

.affix { top: 75px; position: fixed !important; }

.gmamatrix-showhide { padding: 0 15px; opacity: 1 !important; }
.gmamatrix-showhide:hover, .gmamatrix-showhide:active { background-color: rgb(220,220,220); text-decoration: none; }
.gmamatrix-showhide h4 { font-size: 16px; padding: 15px 0; }
.gmamatrix-showhide i { font-size: 16px; float: right; display: block; padding: 15px 0; }

.gmamatrix-lmi-input { position: relative; width: 100%; clear: right; }
.gmamatrix-lmi-input input { width: 100% !important; display: block; margin: 0; border-radius: 0 !important; padding: 6px 10px; }
.gmamatrix-lmi-input label { line-height: 34px; text-align: left; display: inline-block; white-space: normal; width: 100%; font-weight: normal !important; }

.gmamatrix-li-form li { border: 0 !important; border-bottom: 1px solid #e3e3e3 !important; padding: 5px 0 0 !important; width: 100% !important; font-size: .9em; }
.gmamatrix-li-form li:hover { background-color: rgb(220,220,220) !important; padding: 5px 0 0 !important; }
.gmamatrix-li-form li input { font-size: .9em; padding: 5px; text-align: center; }

.triangle-up {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 14px solid rgb(220,220,220);
}
.triangle-up.triangle-selected { position: absolute; top: -14px; left: 45%; z-index: 101; }

/*.gma-sparkline, .gma-progressbar { opacity: 1; }
.gma-sparkline:hover, .gma-progressbar:hover { text-decoration: none; } */

/* gmamatrix using bootstrap progress bar plus code from https://github.com/minddust/bootstrap-progressbar */
.progress .bar {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.gmamatrix-filters-container { margin: 15px; }

#gmamatrix-start-date, #gmamatrix-end-date { background: transparent; border-radius: 0; box-shadow: none; }
#gmamatrix-end-date { margin-top: 15px; }
#gmamatrix-start-date:focus, #gmamatrix-end-date:focus {}
