	
	<!-- begin "Dashboard" view filters -->

    <div id="gmamatrix-dashboard-assignment-list"></div>
    <!--
	<div class="opsportal-widget-title-container">
		<h2 class="opsportal-widget-title">Team</h2>
	</div>			
	<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Select the team assignment to view.</p></div>
	<div class="btn-group opsportal-btn-full">
	  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
	    Team <span class="caret opsportal-btn-caret"></span>
	  </button>
	  <ul id="gmafilters-assignment" class="dropdown-menu" role="menu">
	  </ul>
	</div>
	-->


    
    <div id="gmamatrix-dashboard-dates">
        <div class="opsportal-widget-title-container opsportal-widget-container-divider">
            <h2 class="opsportal-widget-title" translate=1>Report Date Range</h2>
        </div>			
        <div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc" translate=1>Select the <em>start</em> and <em>end</em> dates.</p></div>
    
        <div id="startreport"></div> 
        <!-- <label for="gmamatrix-start-date">Start Date:</label> -->
        <input name="gmamatrix-start-date" type="text" id="gmamatrix-start-date" class="form-control opsportal-datepicker" placeholder="Start Date">
    
        <div id="endreport"></div> 
        <!-- <label for="gmamatrix-end-date">End Date:</label> -->
        <input name="gmamatrix-end-date" type="text" id="gmamatrix-end-date" class="form-control opsportal-datepicker" placeholder="End Date">
    </div>

	
	<div id="gmamatrix-dashboard-strategy-list"></div>
    <!--	
	<div class="opsportal-widget-title-container opsportal-widget-container-divider">
		<h2 class="opsportal-widget-title">Strategy</h2>
	</div>			
	<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et sodales tellus.</p></div>
	<div class="btn-group opsportal-btn-full">
	  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
	    Strategy <span class="caret opsportal-btn-caret"></span>
	  </button>
	  <ul id="gmafilters-strategy" class="dropdown-menu" role="menu">
	    <li><a href="#">Strategy 1</a></li>
	    <li><a href="#">Strategy 2</a></li>
	    <li><a href="#">Strategy 3</a></li>
	  </ul>
	</div>
	-->
	
	
	
	<!-- begin "Entry" and "Layout" view filters -->
<!--
		<div class="opsportal-widget-title-container">
			<h2 class="opsportal-widget-title">Assignments</h2>
		</div>			
		<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Choose the GMA nodes you are allowed to report on.</p></div>

		<div class="btn-group opsportal-btn-full">
		  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
		    Assignment <span class="caret opsportal-btn-caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Assignment 1</a></li>
		    <li><a href="#">Assignment 2</a></li>
		    <li><a href="#">Assignment 3</a></li>
		  </ul>
		</div>
		

		<div class="opsportal-widget-title-container opsportal-widget-container-divider">
			<h2 class="opsportal-widget-title">Strategy</h2>
		</div>			
		<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et sodales tellus.</p></div>

		<div class="btn-group opsportal-btn-full">
		  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
		    Strategy <span class="caret opsportal-btn-caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Strategy 1</a></li>
		    <li><a href="#">Strategy 2</a></li>
		    <li><a href="#">Strategy 3</a></li>
		  </ul>
		</div>


		<div class="opsportal-widget-title-container opsportal-widget-container-divider">
			<h2 class="opsportal-widget-title">Reporting Period</h2>
		</div>			
		<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et sodales tellus.</p></div>

		<div class="btn-group opsportal-btn-full">
		  <button type="button" class="btn btn-default dropdown-toggle opsportal-btn opsportal-btn-full opsportal-btn-wj" data-toggle="dropdown" style="text-align: left;">
		    Reporting Period <span class="caret opsportal-btn-caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Reporting Period 1</a></li>
		    <li><a href="#">Reporting Period 2</a></li>
		    <li><a href="#">Reporting Period 3</a></li>
		  </ul>
		</div>
-->

