<!-- begin gmamatrix-stage area  -->

<div class="opsportal-stage-container opsportal-padding-bottom-2x" style="position: relative;">

	<div class="gen-btn-list">
        <ul class="list-unstyled list-inline">
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Dashboard</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Layout</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">Entry</a></li>
        </ul>
    </div>
  
	<div class="opsportal-stage-main">
	
		<!-- Entry mode -->
		<div class="row">
			<div class="col-xs-12">
				<div class="gmamatrix-container-grid">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
							<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
							<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus-square"></i><h4>Win</h4></a></div>
					<div class="col-xs-10 gmamatrix-grid-bl">
						<div class="row" id="gmamatrix-layout-win">
							<div class="col-xs-4">
								<div class="gmamatrix-container">
									<h5>Exposing through mass means</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-1-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 1</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-2">Category 2</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-2" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-3">Category 3</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-3" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-1-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 10</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-1-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-1-disciple">Disciple</a></div>
									</div>
								</div>


								<div class="gmamatrix-container">
									<h5>Initiating Gospel conversations</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-2-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 4</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-2">Category 6</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-2" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-2-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 5</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-2-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-2-disciple">Disciple</a></div>
									</div>
								</div>


								<div class="gmamatrix-container">
									<h5>Presenting the Gospel</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-3-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 1</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-8">Category 8</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-3-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 11</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-11" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 7</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-7" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-3-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-3-disciple">Disciple</a></div>
									</div>
								</div>

							</div>

							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>New Professing believers</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-3-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 1</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-8">Category 8</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-3-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 11</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-11" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 7</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-7" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-3-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-3-disciple">Disciple</a></div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus-square"></i><h4>Build</h4></a></div>
					<div class="col-xs-10 gmamatrix-grid-bl">
						<div class="row" id="gmamatrix-layout-build">
							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>Following up</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-4-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 1</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-8">Category 8</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-4-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 11</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-11" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 7</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-7" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-4-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-4-disciple">Disciple</a></div>
									</div>
								</div>


								<div class="gmamatrix-container">
									<h5>Presenting the Holy Spirit</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-5-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-2">Category 2</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-2" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-8">Category 8</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-5-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-14">Category 14</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-14" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-1">Category 1</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-5-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-5-disciple">Disciple</a></div>
									</div>
								</div>

							</div>
							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>Engaged disciples</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-6-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-6">Category 6</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-6-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-4">Category 4</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-4" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-6-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-6-disciple">Disciple</a></div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>Movement Progress</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-7-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-5">Category 5</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-5" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-6">Category 6</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-7-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-7">Category 7</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-7" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-8">Category 8</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-10">Category 10</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-10" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-7-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-7-disciple">Disciple</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus-square"></i><h4>Send</h4></a></div>
					<div class="col-xs-10 gmamatrix-grid-bl">
						<div class="row" id="gmamatrix-layout-send">
							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>Training for action</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-8-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-3">Category 3</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-3" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-8-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-13">Category 13</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-13" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-8-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-8-disciple">Disciple</a></div>
									</div>
								</div>


								<div class="gmamatrix-container">
									<h5>Sending lifetime laborers</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-9-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-6">Category 6</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-9-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-4">Category 4</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-4" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-9-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-9-disciple">Disciple</a></div>
									</div>
								</div>

								<div class="gmamatrix-container">
									<h5>Developing local resources</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-10-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-11">Category 11</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-11" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-12">Category 12</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-12" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-10-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-15">Category 15</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-15" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-10-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-10-disciple">Disciple</a></div>
									</div>
								</div>

							</div>
							<div class="col-xs-4">

								<div class="gmamatrix-container">
									<h5>Multiplying disciples</h5>
									<ul class="gmamatrix-li-staff-form" id="gmamatrix-lmi-11-staff">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-16">Category 16</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-16" maxlength="2"></div>
											</div>
										</li>
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-17">Category 17</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-17" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<ul class="gmamatrix-li-disciple-form" id="gmamatrix-lmi-11-disciple" style="display: none;">
										<li>
											<div class="row input-group gmamatrix-lmi-input">
												<div class="col-xs-9"><label for="category-19">Category 19</label></div>
												<div class="col-xs-3"><input type="text" class="form-control" id="category-19" maxlength="2"></div>
											</div>
										</li>
									</ul>
									<div class="row">
									  <div class="col-xs-6 gmamatrix-staff gmamatrix-lmi-selected"><div class="triangle-up triangle-selected"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-11-staff">Staff</a></div>
									  <div class="col-xs-6 gmamatrix-disciple"><div class="triangle-up triangle-selected" style="display: none;"></div><a href="#" class="gmamatrix-lmi-filter-tag" data-lmi-filter="gmamatrix-lmi-11-disciple">Disciple</a></div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">

							</div>
						</div>
					</div>
				</div>



				</div>

				<div class="row" style="padding-bottom: 100px;"> <!-- Need to revisit...why is this row, without the padding-bottom, getting truncated -->
					<div class="col-xs-12 gmamatrix-droppable-other gmamatrix-other">
						<h4>Other</h4>
						<ul class="gmamatrix-li-other"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ********** BEGINNING OF "LAYOUT" MODE ********** -->
	<!-- 
	
	<div class="row">
		<div class="col-xs-10">
			<div class="gmamatrix-container-grid">
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus-square"></i><h4>Win</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-win">
						<div class="col-xs-4">
							<div class="gmamatrix-container">
								<h5>Exposing through mass means</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>

							
							<div class="gmamatrix-container">
								<h5>Initiating Gospel conversations</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							
							<div class="gmamatrix-container">
								<h5>Presenting the Gospel</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>

						</div>
						
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>New Professing believers</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus-square"></i><h4>Build</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-build">
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>Following up</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							
							<div class="gmamatrix-container">
								<h5>Presenting the Holy Spirit</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
					
						</div>
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>Engaged disciples</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>Movement Progress</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus-square"></i><h4>Send</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-send">
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>Training for action</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							
							<div class="gmamatrix-container">
								<h5>Sending lifetime laborers</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							<div class="gmamatrix-container">
								<h5>Developing local resources</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
					
						</div>
						<div class="col-xs-4">
							
							<div class="gmamatrix-container">
								<h5>Multiplying disciples</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							
						</div>
					</div>
				</div>
			</div>
			
			
			
			</div>
			
			<div class="row">
				<div class="col-xs-12 gmamatrix-droppable-other gmamatrix-other">
					<h4>Other</h4>
					<ul class="gmamatrix-li-other"></ul>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="gmamatrix-cat-container gmamatrix-droppable-cat" id="gmamatrix-affix" data-offset-top="65">
				<h4>Categories</h4>
			</div>
		</div>
	</div>
	 -->
	
		
	</div> <!-- end opsportal-stage-main -->
	
</div> <!-- end opsportal-stage-container -->

