<!-- begin gmamatrix-stage area  -->

<div class="opsportal-stage-container opsportal-padding-bottom-2x" style="position: relative;">

	<div class="gen-btn-list">
        <ul class="list-unstyled list-inline">
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Dashboard</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">Layout</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Entry</a></li>
        </ul>
    </div>
  
	<div class="opsportal-stage-main">
	<div class="row">
		<div class="col-xs-10">
			<div class="gmamatrix-container-grid">
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus-square"></i><h4>Win</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-win">
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Exposing through mass means</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>

							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Initiating Gospel conversations</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Presenting the Gospel</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>

						</div>
						
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>New Professing believers</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<!-- container -->
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus-square"></i><h4>Build</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-build">
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Following up</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Presenting the Holy Spirit</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
					
						</div>
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Engaged disciples</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Movement Progress</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus-square"></i><h4>Send</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-send">
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Training for action</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Sending lifetime laborers</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Developing local resources</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
								</div>
							</div>
					
						</div>
						<div class="col-xs-4">
							<!-- container -->
							<div class="gmamatrix-container">
								<h5>Multiplying disciples</h5>
								<ul class="gmamatrix-li-staff"></ul>
								<ul class="gmamatrix-li-disciple"></ul>
								<div class="row">
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-staff">Staff</div>
								  <div class="col-xs-6 gmamatrix-droppable-lmi gmamatrix-disciple">Disciple</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<!-- container -->
						</div>
					</div>
				</div>
			</div>
			
			
			
			</div> <!-- gmamatrix-container-grid -->
			
			<!-- Other container -->
			<div class="row">
				<div class="col-xs-12 gmamatrix-droppable-other gmamatrix-other">
					<h4>Other</h4>
					<ul class="gmamatrix-li-other"></ul>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="gmamatrix-cat-container gmamatrix-droppable-cat" id="gmamatrix-affix" data-offset-top="65">
				<h4>Categories</h4>
				<!-- unassigned categories -->
			</div>
		</div>
	</div>
	
		
	</div>
	
	

</div>

