<!-- begin gmamatrix-stage area  -->

<div class="opsportal-stage-container opsportal-padding-bottom-2x" style="position: relative;">

	<div id="gmamatrix-stage-tabs" class="gen-btn-list">
        <ul class="list-unstyled list-inline">
        <li><a href="#dashboard" class="btn opsportal-btn opsportal-btn-dk" role="button">Dashboard</a></li>
        <li><a href="#layout" class="btn opsportal-btn opsportal-btn-dk" role="button">Layout</a></li>
        <li><a href="#entry" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">Entry</a></li>
        </ul>
    </div>
  
	<div class="opsportal-stage-main">
	
		<!-- Entry mode -->
		<div class="gmamatrix-stage-section" id="gmamatrix-entry">
		<div class="row">
			<div class="col-xs-12">
				<div class="gmamatrix-container-grid">
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-10">
							<div class="row">
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus"></i><h4>Win</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" id="gmamatrix-layout-win">
								<div class="col-xs-4">
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Exposing through mass means</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
												<div id="chartDiv"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Initiating Gospel Conversations</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Presenting the Gospel</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
									
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>New Professing Believers</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">

								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus"></i><h4>Build</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" id="gmamatrix-layout-build">
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Following Up</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Presenting the Holy Spirit</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Engaged Disciples</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>Staff</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>Disciple</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>1:1.2</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>2241</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Movement Progress</h5>
										<div class="row">
											<div class="col-xs-12">
												<span>Sparkline here</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<span>45</span>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus"></i><h4>Send</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" id="gmamatrix-layout-send">
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Training for Action</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>SLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>LLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">80</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>CLM</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>500</strong></span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Sending Lifetime Laborors</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>SLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>LLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">80</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>CLM</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>500</strong></span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Developing Local Resources</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>SLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>LLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">80</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>CLM</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>500</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Multiplying Disciples</h5>
										<div class="row">
											<div class="col-xs-9">
												<span>SLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span>LLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">80</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span><strong>CLM</strong></span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right"><strong>500</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">

								</div>
							</div>
						</div>
					</div>
				</div> <!-- end .gmamatrix-container-grid -->

			</div>
		</div>
	</div>
	</div>
		
		
	</div> <!-- end opsportal-stage-main -->
	
</div> <!-- end opsportal-stage-container -->

