	
	<!-- Entry mode -->
	<div class="row">
		<div class="col-xs-12">
			<div class="gmamatrix-container-grid">
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-4 gmamatrix-grid-bb"><h4 translate=1>Faith Actions</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4 translate=1>Fruits</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4 translate=1>Outcome</h4></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="win"><i class="fa fa-minus"></i><h4 translate=1>Win</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" lmirow="win">
						<div class="col-xs-4">
							<div class="gmamatrix-container" key="etmm">
								<h5 translate=1>Exposing Through Mass Means</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-1">
								</ul>
							</div>

							<div class="gmamatrix-container" key="igc">
								<h5 translate=1>Initiating Gospel Conversations</h5>
								<ul class="gmamatrix-li-form">
								</ul>
							</div>

							<div class="gmamatrix-container" key="ptg">
								<h5 translate=1>Presenting the Gospel</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-3">
								</ul>
							</div>

						</div>

						<div class="col-xs-4">

							<div class="gmamatrix-container" key="npb">
								<h5 translate=1>New Professing Believers</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-4">
								</ul>
								
							</div>
						</div>
						<div class="col-xs-4">

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="build"><i class="fa fa-minus"></i><h4 translate=1>Build</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" lmirow="build">
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="fu">
								<h5 translate=1>Following Up</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-5">
								</ul>
							</div>


							<div class="gmamatrix-container" key="pths">
								<h5 translate=1>Presenting the Holy Spirit</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-6">
								</ul>
							</div>

						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="ed">
								<h5 translate=1>Engaged Disciples</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-7">
								</ul>
							</div>
						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="mp">
								<h5 translate=1>Movement Progress</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-8">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="send"><i class="fa fa-minus"></i><h4 translate=1>Send</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" lmirow="send">
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="tfa">
								<h5 translate=1>Training for Action</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-9">
								</ul>
								
							</div>


							<div class="gmamatrix-container" key="sll">
								<h5 translate=1>Sending Lifetime Laborers</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-10">
								</ul>
								
							</div>

							<div class="gmamatrix-container" key="dlr">
								<h5 translate=1>Developing Local Resources</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-11">
								</ul>
								
							</div>

						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="md">
								<h5 translate=1>Multiplying Disciples</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-12">
								</ul>
								
							</div>
						</div>
						<div class="col-xs-4">

						</div>
					</div>
				</div>
			</div>



			</div>

			<div class="row" style="padding-bottom: 100px;"> 
			<!-- Need to revisit...why is this row, without the padding-bottom, getting truncated -->
				<div class="col-xs-12 gmamatrix-droppable-other gmamatrix-other">
					<h4 translate=1>Other</h4>
					<ul class="gmamatrix-li-other"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
