<!-- begin gmamatrix-stage area  -->

<div class="opsportal-stage-container opsportal-padding-bottom-2x" style="position: relative;">

	<div id="gmamatrix-stage-tabs" class="gen-btn-list">
        <ul class="list-unstyled list-inline">
        <li><a href="#dashboard" class="btn opsportal-btn opsportal-btn-dk" role="button">Dashboard</a></li>
        <li><a href="#layout" class="btn opsportal-btn opsportal-btn-dk" role="button">Layout</a></li>
        <li><a href="#entry" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">Entry</a></li>
        </ul>
    </div>
  
	<div class="opsportal-stage-main">
	    
	    <div id="gmamatrix-dashboard"></div>
	    <div id="gmamatrix-entry"></div>
	    <div id="gmamatrix-layout"></div>
	    
	</div> <!-- end opsportal-stage-main -->
	
</div> <!-- end opsportal-stage-container -->

