<!-- begin gmamatrix-stage area  -->

<div class="opsportal-stage-container opsportal-padding-bottom-2x" style="position: relative;">

	<div class="gen-btn-list">
	    <h2 class="opsportal-stage-title">Power of the Holy Spirit</h2>
        <ul class="list-unstyled list-inline">
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">Dashboard</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Layout</a></li>
        <li><a href="" class="btn opsportal-btn opsportal-btn-dk" role="button">Entry</a></li>
        </ul>
    </div>
  
	<div class="opsportal-stage-main">
	<div class="row">
		<div class="col-xs-10">
			<div class="gmamatrix-container-grid">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
				<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
				<div class="col-xs-3 gmamatrix-grid-bb"><h4>Outcome</h4></div>
			</div>
			
			<div class="row">
				<div class="col-xs-1"><h4>Win</h4></div>
				<div class="col-xs-4 gmamatrix-grid-bl">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Exposing through mass means</h5>
						<ul class="gmamatrix-li-staff"></ul>
						<ul class="gmamatrix-li-disciple"></ul>
						<div class="row" style="clear: both;">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Initiating Gospel conversations</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Presenting the Gospel</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>New Professing believers</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<!-- container -->
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-1"><h4>Build</h4></div>
				<div class="col-xs-4 gmamatrix-grid-bl">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Following up</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Presenting the Holy Spirit</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Engaged disciples</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Movement Progress</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-1"><h4>Send</h4></div>
				<div class="col-xs-4 gmamatrix-grid-bl">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Training for action</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Sending lifetime laborers</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Developing local resources</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					
				</div>
				<div class="col-xs-4">
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Multiplying disciples</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
					<!-- container -->
					<div class="gmamatrix-container">
						<h5>Locally generated resources</h5>
						<div class="row">
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-staff">Staff</div>
						  <div class="col-xs-6 gmamatrix-droppable gmamatrix-disciple">Disciple</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<!-- container -->
				</div>
			</div>
			
			
			
			</div> <!-- gmamatrix-container-grid -->
			
			<!-- Other container -->
			<div class="row">
				<div class="col-xs-12 gmamatrix-droppable gmamatrix-other">
					<h4>Other</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-2" style="position: relative;">
			<div class="jumbotron gmamatrix-cat-container gmamatrix-droppable" id="gmamatrix-affix">
				<h4>Categories</h4>
				<!-- <div id="gmamatrix-cat-1" class="gmamatrix-draggable">Category 1</div>
				<div id="gmamatrix-cat-2" class="gmamatrix-draggable">Category 2</div>
				<div id="gmamatrix-cat-3" class="gmamatrix-draggable">Category 3</div>
				<div id="gmamatrix-cat-4" class="gmamatrix-draggable">Category 4</div>
				<div id="gmamatrix-cat-5" class="gmamatrix-draggable">Category 5</div> -->
			</div>
		</div>
	</div>
	
		
	</div>
	
	

</div>

