
		<!-- Dashboard mode -->
		<div class="row">
			<div class="col-xs-12">
				<div class="gmamatrix-container-grid">
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-10">
							<div class="row">
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="win"><i class="fa fa-minus"></i><h4>Win</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="win">

								<div class="col-xs-4">
									<div class="lmi-graph" key="etmm" label="Exposing Through Mass Means"></div>
									<div class="lmi-graph" key="igc" label="Initiating Gospel Conversations"></div>
									<div class="lmi-graph" key="ptg" label="Presenting the Gospel"></div>
								</div>

								<div class="col-xs-4">
									<div class="lmi-graph" key="npb" label="New Professing Believers"></div>
								</div>

								<div class="col-xs-4">
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="build"><i class="fa fa-minus"></i><h4>Build</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="build">

								<div class="col-xs-4">
									<div class="lmi-graph" key="fu" label="Following Up"></div>
									<div class="lmi-graph" key="pths" label="Presenting the Holy Spirit"></div>
								</div>

								<div class="col-xs-4">
									<div class="lmi-graph" key="ed" label="Engaged Disciples"></div>
								</div>

								<div class="col-xs-4">
									<div class="lmi-graph" key="mp" label="Movement Progress"></div>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="send"><i class="fa fa-minus"></i><h4>Send</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="send">

								<div class="col-xs-4">
									<div class="lmi-graph" key="tfa" label="Training for Action"></div>
									<div class="lmi-graph" key="sll" label="Sending Lifetime Laborers"></div>
									<div class="lmi-graph" key="dlr" label="Developing Local Resources"></div>
								</div>

								<div class="col-xs-4">
									<div class="lmi-graph" key="md" label="Multiplying Disciples"></div>
								</div>

								<div class="col-xs-4">
								</div>

							</div>
						</div>
					</div>
				</div> <!-- end .gmamatrix-container-grid -->

			</div>
		</div>
	</div>
	<!-- end dashboard mode -->
