	
	<!-- Entry mode -->
	<div class="row">
		<div class="col-xs-12">
			<div class="gmamatrix-container-grid">
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
						<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus"></i><h4>Win</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-win">
						<div class="col-xs-4">
							<div class="gmamatrix-container" key="etmm">
								<h5>Exposing through mass means</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-1">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-1">Mass Exposure</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-2">Gospel conversation (staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-2" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-3">Gospel conversations (non-staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-3" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>

							<div class="gmamatrix-container" key="ptg">
								<h5>Presenting the Gospel</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-3">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-1">Gospel Presentations (Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-8">Gospel Presentations (Non-Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>

						</div>

						<div class="col-xs-4">

							<div class="gmamatrix-container" key="npb">
								<h5>New Professing believers</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-4">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-1">Category 1</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-8">Category 8</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
										</div>
									</li>
								</ul>
								
							</div>
						</div>
						<div class="col-xs-4">

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus"></i><h4>Build</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-build">
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="fu">
								<h5>Following up</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-5">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-1">Following Up (Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-1" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-8">Following Up (Non-Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>


							<div class="gmamatrix-container" key="pths">
								<h5>Presenting the Holy Spirit</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-6">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-2">HS Presentations (Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-2" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-8">HS Presentations (Non-Staff)</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-8" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>

						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="ed">
								<h5>Engaged disciples</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-7">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-6">Category 6</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="mp">
								<h5>Movement Progress</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-8">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-5">Category 5</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-5" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-6">Category 6</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus"></i><h4>Send</h4></a></div>
				<div class="col-xs-10 gmamatrix-grid-bl">
					<div class="row" id="gmamatrix-layout-send">
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="tfa">
								<h5>Training for action</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-9">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-3">Category 3</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-3" maxlength="2"></div>
										</div>
									</li>
								</ul>
								
							</div>


							<div class="gmamatrix-container" key="sll">
								<h5>Sending lifetime laborers</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-10">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-6">Category 6</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-6" maxlength="2"></div>
										</div>
									</li>
								</ul>
								
							</div>

							<div class="gmamatrix-container" key="dlr">
								<h5>Developing local resources</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-11">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-11">Category 11</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-11" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-12">Category 12</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-12" maxlength="2"></div>
										</div>
									</li>
								</ul>
								
							</div>

						</div>
						<div class="col-xs-4">

							<div class="gmamatrix-container" key="md">
								<h5>Multiplying disciples</h5>
								<ul class="gmamatrix-li-form" id="gmamatrix-lmi-12">
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-16">Category 16</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-16" maxlength="2"></div>
										</div>
									</li>
									<li>
										<div class="row input-group gmamatrix-lmi-input">
											<div class="col-xs-9"><label for="category-17">Category 17</label></div>
											<div class="col-xs-3"><input type="text" class="form-control" id="category-17" maxlength="2"></div>
										</div>
									</li>
								</ul>
								
							</div>
						</div>
						<div class="col-xs-4">

						</div>
					</div>
				</div>
			</div>



			</div>

			<div class="row" style="padding-bottom: 100px;"> 
			<!-- Need to revisit...why is this row, without the padding-bottom, getting truncated -->
				<div class="col-xs-12 gmamatrix-droppable-other gmamatrix-other">
					<h4>Other</h4>
					<ul class="gmamatrix-li-other"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
