
		<!-- Dashboard mode -->
		<div class="row">
			<div class="col-xs-12">
				<div class="gmamatrix-container-grid">
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-10">
							<div class="row">
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
								<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="win"><i class="fa fa-minus"></i><h4>Win</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="win">
								<div class="col-xs-4">
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Exposing through mass means</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Staff</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Disciple</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
												
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="hris-tooltip tt gma-highlight" data-placement="top" data-original-title="Staff to Disciple Ratio">1:1.2</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right gma-highlight">2241</span>
											</div>
										</div>
									</div>
									
									
									
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>New Professing Believers</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Staff</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Disciple</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="hris-tooltip tt gma-highlight" data-placement="top" data-original-title="Staff to Disciple Ratio">1:1.2</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right gma-highlight">2241</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">

								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="build"><i class="fa fa-minus"></i><h4>Build</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="build">
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Following Up</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Staff</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Disciple</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="hris-tooltip tt gma-highlight" data-placement="top" data-original-title="Staff to Disciple Ratio">1:1.2</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right gma-highlight">2241</span>
											</div>
										</div>
									</div>
									
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Presenting the Holy Spirit</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Staff</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Disciple</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="hris-tooltip tt gma-highlight" data-placement="top" data-original-title="Staff to Disciple Ratio">1:1.2</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right gma-highlight">2241</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Engaged Disciples</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Staff</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">986</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">Disciple</span>
												<div class="gmaSparkline" style="height:24px;width:50px;"></div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">1255</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="hris-tooltip tt gma-highlight" data-placement="top" data-original-title="Staff to Disciple Ratio">1:1.2</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right gma-highlight">2241</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Movement Progress</h5>
										<div class="row">
											<div class="col-xs-12">
												<div style="position: relative; margin: 0 auto;">
												<div class="gmaSparkline" style="margin: 0 auto; height:100px;width:250px;"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<span style="text-align: center; display: block; font-size: 3em; font-weight: bold;">45</span>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" lmikey="send"><i class="fa fa-minus"></i><h4>Send</h4></a></div>
						<div class="col-xs-10 gmamatrix-grid-bl">
							<div class="row" lmirow="send">
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Training for Action</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">SLM</span>
												<div class="progress">
<div class="progress-bar gma-progress-bar" role="progressbar" data-transitiongoal="60" aria-valuemax="120" style="background-color: #999999;"></div>
												</div>
												
											</div>
											<div class="col-xs-3">
												<span class="pull-right">60/120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">LLM</span>
												<div class="progress">
													<div class="progress-bar gma-progress-bar" role="progressbar" data-transitiongoal="60" aria-valuemax="120" style="background-color: #999999;"></div>
												</div>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">65/80</span>
											</div>
										</div>

										
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">CLM</span>
												<div class="progress">
<div class="progress-bar gma-progress-bar" role="progressbar" data-transitiongoal="60" aria-valuemax="120" style="background-color: #999999;"></div>
												</div>

											</div>
											<div class="col-xs-3">
												<span class="pull-right">200/500</span>
											</div>
										</div>
									</div>
									
								</div>
								<div class="col-xs-4">
									<div class="gmamatrix-container gmamatrix-dashboard-container">
										<h5>Multiplying Disciples</h5>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">SLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">120</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9">
												<span class="gma-dashboard-label">LLM</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">80</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-9 opsportal-border-top">
												<span class="gma-dashboard-label">CLM</span>
											</div>
											<div class="col-xs-3 opsportal-border-top">
												<span class="pull-right">500</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">

								</div>
							</div>
						</div>
					</div>
				</div> <!-- end .gmamatrix-container-grid -->

			</div>
		</div>
	</div>
	<!-- end dashboard mode -->
