
<!-- ********** BEGINNING OF "LAYOUT" MODE ********** -->
<div class="row">
	<div class="col-xs-10">
		<div class="gmamatrix-container-grid">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-10">
				<div class="row">
					<div class="col-xs-4 gmamatrix-grid-bb"><h4>Faith Actions</h4></div>
					<div class="col-xs-4 gmamatrix-grid-bb"><h4>Fruits</h4></div>
					<div class="col-xs-4 gmamatrix-grid-bb"><h4>Outcome</h4></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-win"><i class="fa fa-minus"></i><h4>Win</h4></a></div>
			<div class="col-xs-10 gmamatrix-grid-bl">
				<div class="row" id="gmamatrix-layout-win">
					<div class="col-xs-4">
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="etmm">
							<h5>Exposing through mass means</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>

						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="igc">
							<h5>Initiating Gospel conversations</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
						
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="ptg">
							<h5>Presenting the Gospel</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>

					</div>
					
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="npb">
							<h5>New Professing believers</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
					</div>
					<div class="col-xs-4">
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-build"><i class="fa fa-minus"></i><h4>Build</h4></a></div>
			<div class="col-xs-10 gmamatrix-grid-bl">
				<div class="row" id="gmamatrix-layout-build">
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="fu">
							<h5>Following up</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
						
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="pths">
							<h5>Presenting the Holy Spirit</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
				
					</div>
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="ed">
							<h5>Engaged disciples</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="mp">
							<h5>Movement Progress</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-2"><a href="#" class="opsportal-filter-tag filter-on opsportal-showhide gmamatrix-showhide" data-hris-filter="gmamatrix-layout-send"><i class="fa fa-minus"></i><h4>Send</h4></a></div>
			<div class="col-xs-10 gmamatrix-grid-bl">
				<div class="row" id="gmamatrix-layout-send">
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="tfa">
							<h5>Training for action</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
						
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="sll">
							<h5>Sending lifetime laborers</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="dlr">
							<h5>Developing local resources</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
				
					</div>
					<div class="col-xs-4">
						
						<div class="gmamatrix-container gmamatrix-droppable-lmi" key="md">
							<h5>Multiplying disciples</h5>
							<div class="measurements" type="staff"><h6>Staff</h6></div>
							<div class="measurements" type="disciple"><h6>Disciple</h6></div>
						</div>
					</div>
					<div class="col-xs-4">
						
					</div>
				</div>
			</div>
		</div>
		
		
		
		</div>
		
		<div class="row">
			<div class="col-xs-12 gmamatrix-container gmamatrix-droppable-other gmamatrix-other" key="other">
				<h4>Other</h4>
				<div class="measurements"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="gmamatrix-container gmamatrix-cat-container gmamatrix-droppable-cat" id="gmamatrix-affix" data-offset-top="65">
			<h4>Categories</h4>
			<div class="measurements"></div>
		</div>
	</div>
</div>
