<div class='gmamatrix'>
    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget'>
        
            <div style="height: 809px; padding-top: 83px;" class="genlist-widget-inner opsportal-widget-container">
                <div class="opsportal-widget-masthead">
                
                    <div class="gmamatrix-assignment-chooser"></div>
                    <div class="gmamatrix-report-chooser"></div>
                    <div class="gmamatrix-strategy-chooser"></div>

                </div>
            </div>
        
        </div>
        <div class='col-xs-10 gmamatrix-stage'>            
        </div>
    </div>
</div>
