
    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget'>
        
			<div class="gmamatrix-filters"></div>
			
			<!--<div class="gmamatrix-assignment-chooser"></div>
			<div class="gmamatrix-report-chooser"></div>
			<div class="gmamatrix-strategy-chooser"></div> -->
        
        </div>
        <div class='col-xs-10 gmamatrix-stage'>            
        </div>
    </div>

