
<div class='gmamatrix'>

    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget gmamatrix-assignment-chooser'></div>
        <div class='col-xs-10 gmamatrix-stage'>

            
        </div> 
        
    </div>

</div>

