<%
    //// TODO: initial port of view to canJS client side:
var data = {};
data.labels = {};
data.labels.getLabel = function(key) {
    var result = key.replace('[','').replace(']','');
    console.log(result);
    return result;
}

%><div id="dummy-loading-indicator">
    <!-- this indicator is to give the user something to look at while
         the page is initially loading 
    <img src="/theme/default/images/loading.gif" />  -->
</div>
<div class='gmamatrix'>

    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget gmamatrix-assignment-chooser'></div>
        <div class='col-xs-10 gmamatrix-stage'>

            
        </div> 
        
    </div>

</div>

